#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .navigation{
    width: 100%;
    height: 100%;
    background: #00000084;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
  .menu{
    width: 15rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    z-index: 200;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 25px;
  }
  .menu__active{
    display: block;
  }
}